* {
  /* This is often called the "global reset" */
  /* By default browsers add a certain amount of margin, padding, and margin/padding around boxes. We don't want that. */

  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Box sizing is not inheritted by default, but we can use this to force inheritance from the body */
  }
}

html {
  font-size: 62.5%; /* Browser default is 16px. We want 10px, so 10/16 = 62.5% */

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12px
  // }

  // @include respond(tab-land) {
  //   font-size: 56.25%; //1rem = 9px
  // }

  // @include respond(tab-port) {
  //   font-size: 50%; //1rem = 8px
  // }
}

body {
  box-sizing: border-box;
  padding: 1.5rem; /* add border to the full webpage */

  // @include respond(tab-port) {
  //   padding: 0;
  // }
}
