.card__column {
  animation-name: scaleOut;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.13, 0.61, 0.84, 0.59);
}

.card {
  position: relative;
  height: 65rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: $color-secondary-light;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-0.5rem) scale(1.01);
  }

  &__heading {
    position: absolute;
    width: calc(100% - 7rem);
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 3.5rem 0 3.5rem;

    &-span {
      font-family: "Cinzel", serif;
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    left: 0.9rem;
    z-index: 6; //To make sure .card_close is in front of .card__heading
  }

  &__img {
    position: absolute;
    top: 7rem;
    object-fit: cover;
    height: 18rem;
    width: 12.5rem;
    border-radius: 3px;
    padding: 1rem;
  }

  &__details {
    position: absolute;
    top: 7rem;
    right: 1rem;
    width: 56%;
    font-size: 1.5rem;
    font-weight: 300;

    ul {
      padding: 0 1rem 0 0;
      list-style: none;
      margin: 0 auto;

      li {
        &:not(:last-child) {
          border-bottom: 1px solid $color-red;
          padding-bottom: 0.8rem;
        }

        &:not(:first-child) {
          padding-top: 0.8rem;
        }
      }
    }
  }

  &__sub-heading {
    font-family: "Cinzel", serif;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__synopsis {
    position: absolute;
    top: 26rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.4rem;
  }
}
