.card__column {
  animation-name: scaleOut;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.13, 0.61, 0.84, 0.59);
}

.card {
  position: relative;
  height: 65rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: $color-secondary-light;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.2s;

  @include respond(medium) {
    height: 35rem;
  }

  @include respond(small) {
    height: 56rem;
    max-width: 35rem;
    margin: auto;
  }

  @include respond(extra-small) {
    height: 51rem;
    max-width: 32rem;
  }

  &:hover {
    transform: translateY(-0.5rem) scale(1.01);
  }

  &__heading {
    position: absolute;
    width: calc(100% - 7rem);
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0 3.5rem;

    @include respond(extra-small) {
      width: calc(100% - 6rem);
      padding: 0 3rem;
    }

    &-span {
      font-family: "Cinzel", serif;
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    left: 0.9rem;
    z-index: 6; //To make sure .card_close is in front of .card__heading
  }

  &__img {
    position: absolute;
    top: 7rem;
    object-fit: cover;
    height: 18rem;
    width: 12.5rem;
    border-radius: 3px;
    padding: 1rem;

    @include respond(medium) {
      top: 4rem;
      height: 16rem;
      width: 12rem;
      padding: 1rem 2rem;
    }

    @include respond(small) {
      top: 6rem;
      padding: 1rem;
    }

    @include respond(extra-small) {
      height: 15rem;
      width: 10rem;
    }
  }

  &__details {
    position: absolute;
    top: 7rem;
    right: 1rem;
    width: 56%;
    font-size: 1.5rem;
    font-weight: 300;

    @include respond(medium) {
      top: 3.5rem;
      left: 15rem;
      padding: 1rem;
      width: 35%;
    }

    @include respond(small) {
      top: 6.5rem;
      right: 1rem;
      padding: 0;
      width: 56%;
    }

    @include respond(extra-small) {
      left: 12rem;
      width: 60%;
    }

    ul {
      padding: 0 1rem 0 0;
      list-style: none;
      margin: 0 auto;

      li {
        &:not(:last-child) {
          border-bottom: 1px solid $color-red;
          padding-bottom: 0.8rem;

          @include respond(extra-small) {
            padding-bottom: 0.2rem;
          }
        }

        &:not(:first-child) {
          padding-top: 0.8rem;
        }
      }
    }
  }

  &__sub-heading {
    font-family: "Cinzel", serif;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__synopsis {
    position: absolute;
    top: 26rem;
    padding: 1rem;
    font-size: 1.4rem;
    overflow-y: auto;
    width: calc(100% - 2rem);
    height: calc(100% - 35rem);

    @include respond(medium) {
      top: 3.5rem;
      right: 1rem;
      width: 41%;
      height: calc(100% - 8rem);
    }

    @include respond(small) {
      top: 23rem;
      left: 0;
      width: calc(100% - 2rem);
      height: calc(100% - 32rem);
    }

    @include respond(extra-small) {
      top: 22rem;
      height: calc(100% - 30rem);
    }
  }

  &__link {
    position: absolute;
    top: 58rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 700;

    @include respond(medium) {
      top: 24rem;
      left: 14rem;
      padding: 1rem 2rem;
    }

    @include respond(small) {
      top: 51rem;
      left: 0;
      padding: 1rem;
    }

    @include respond(extra-small) {
      top: 46rem;
    }

    &-href {
      &,
      &:link,
      &:visited {
        text-decoration: underline;
        color: $color-red;
        cursor: pointer;
      }

      &:hover {
        text-decoration: none;
        color: $color-white;
        background-color: $color-red;
      }
    }
  }

  &__error {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }
}
