.header {
  height: 40vh;
  background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary, 0.9)
    ),
    url("../img/traditionalhouse-small.jpg");
  background-size: cover;
  background-position: 0% 65%;
  position: relative;

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (min-width: 156.25em) {
    background-image: linear-gradient(
        to right top,
        rgba($color-primary-dark, 0.9),
        rgba($color-primary, 0.9)
      ),
      url("../img/traditionalhouse.jpg");
  }

  @include respond(large) {
    height: 24rem;
  }

  @include respond(medium) {
    height: 22rem;
  }

  @include respond(small) {
    height: 16rem;
  }

  @include respond(extra-small) {
    height: 14rem;
  }

  &__logobox {
    position: absolute;
    top: 10vh;
    left: 12%;

    @include respond(large) {
      top: 2rem;
    }

    @include respond(medium) {
      top: 0;
    }

    @include respond(small) {
      left: 5%;
    }

    @include respond(extra-small) {
      display: none;
    }
  }

  &__logo {
    height: 15rem;

    @include respond(medium) {
      height: 13rem;
    }

    @include respond(small) {
      height: 10rem;
    }
  }

  &__textbox {
    padding: 1rem;

    @include respond(extra-small) {
      padding: 0;
    }
  }
}
